Workflows/CMDB/Asset_Catalog_Sync.public.json
{
  "name": "Asset Catalog Datalake Sync",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_DATALAKE_API_HOST/datalake/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"name\": \"YOUR_DATALAKE_QUERY_NAME\",\n    \"parameters\": { }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        320
      ],
      "id": "0f00ddac-31b3-4c3b-beb4-8a4a5ad3ed12",
      "name": "HTTP Request to Datalake",
      "credentials": {
        "httpHeaderAuth": {
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://YOUR_DATALAKE_API_HOST/datalake/query/{{ $('HTTP Request to Datalake').item.json.execution_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        320
      ],
      "id": "94a360c9-a5d5-46ff-aeca-33abcc064bfa",
      "name": "HTTP Request Download Link",
      "credentials": {
        "httpHeaderAuth": {
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "COND_001",
              "leftValue": "={{ $json.message }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        320
      ],
      "id": "5f76c262-180c-46b2-9fb1-fe6214221e3d",
      "name": "If report ready"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request Download Link').item.json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        224
      ],
      "id": "8f7a499e-033b-4004-b8be-a405ca514384",
      "name": "Download asset Report CSV"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Asset Catalog Sync ,  Parse + Dedup, no filtering\n// Uses n8n binary helper for large files (18+ MB CSVs)\n// ============================================================\n\n// Load binary CSV with n8n's helper (handles large files)\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst csvText = binaryBuffer.toString('utf-8');\n\nif (!csvText || csvText.length < 10) {\n    throw new Error(`CSV content too small: ${csvText?.length ?? 0} chars`);\n}\n\n// CSV line parser with quoted-field handling\nfunction parseCsvLine(line) {\n    const result = [];\n    let current = '';\n    let inQuotes = false;\n    for (let i = 0; i < line.length; i++) {\n        const c = line[i];\n        if (c === '\"') {\n            if (inQuotes && line[i + 1] === '\"') {\n                current += '\"';\n                i++;\n            } else {\n                inQuotes = !inQuotes;\n            }\n        } else if (c === ',' && !inQuotes) {\n            result.push(current);\n            current = '';\n        } else {\n            current += c;\n        }\n    }\n    result.push(current);\n    return result;\n}\n\nconst lines = csvText.split(/\\r?\\n/).filter(l => l.trim().length > 0);\nif (lines.length < 2) {\n    throw new Error(`CSV only has ${lines.length} lines. First 300 chars: ${csvText.substring(0, 300)}`);\n}\n\n// Parse header, fix known upstream typo\nconst rawHeaders = parseCsvLine(lines[0]).map(h => h.trim().replace(/^\"|\"$/g, ''));\nconst columnMap = { 'service_grou': 'service_groue' };\nconst headers = rawHeaders.map(h => columnMap[h] || h);\n\n// Parse rows ,  no filtering\nconst allRows = [];\nfor (let i = 1; i < lines.length; i++) {\n    const values = parseCsvLine(lines[i]);\n    const row = {};\n    headers.forEach((h, idx) => {\n        const val = (values[idx] ?? '').replace(/^\"|\"$/g, '').trim();\n        row[h] = val;\n    });\n    allRows.push(row);\n}\n\n// Dedupe on asset_id\nconst seen = new Set();\nconst deduped = [];\nfor (const row of allRows) {\n    const key = row.asset_id;\n    if (!key) continue;\n    if (seen.has(key)) continue;\n    seen.add(key);\n    deduped.push(row);\n}\n\nconsole.log(`Parsed ${allRows.length} rows, deduped to ${deduped.length}, headers: ${headers.length}`);\n\nreturn deduped.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        224
      ],
      "id": "c45f68e2-5b27-4551-ae98-babb798e7b66",
      "name": "CSV Stream + Filter + Dedup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err_log",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "err_time",
              "name": "error_time",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        416
      ],
      "id": "3e5b13f6-815d-410a-b4b6-d5ee2e103152",
      "name": "Notify Datalake Error (Teams Channel)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 6 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        320
      ],
      "id": "94a12811-1df1-4f8c-9627-a3e74db368c1",
      "name": "Schedule Trigger 06:30 weekdays"
    },
    {
      "parameters": {
        "jsCode": "// Add this before your main logic\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\nawait delay(5000); // 5 seconds\nreturn items; // Pass data through"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        320
      ],
      "id": "0f64c3cc-2500-441e-886d-148763601752",
      "name": "Wait 5s for export job"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "asset_catalog"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "asset_id",
              "keyValue": "={{ $json.asset_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "asset_id",
              "displayName": "asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asset_name",
              "displayName": "asset_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asset_type",
              "displayName": "asset_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "service_category",
              "displayName": "service_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "service_groue",
              "displayName": "service_groue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "owning_team",
              "displayName": "owning_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "service_tier",
              "displayName": "service_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer",
              "displayName": "customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "business_unit",
              "displayName": "business_unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_tier",
              "displayName": "risk_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_status",
              "displayName": "risk_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "monitoring_enabled",
              "displayName": "monitoring_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scanning_enabled",
              "displayName": "scanning_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_critical",
              "displayName": "is_critical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_external",
              "displayName": "is_external",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1792,
        224
      ],
      "id": "455bdcaf-478c-4831-9e53-78c16b180cf0",
      "name": "Insert All Rows to asset_catalog"
    },
    {
      "parameters": {
        "content": "# Asset Catalog DATALAKE SYNC\n\nPulls full asset catalog from a datalake on a schedule.\nNO filtering at ingest, consumers filter at query time.\nUPSERT strategy: match on asset_id, update or insert as needed.\n\nOutputs to: asset_catalog (n8n data table)\nReaders: Asset Catalog Query Form, Asset Catalog Query API\n\nHandles large binaries via this.helpers.getBinaryDataBuffer().\nFixes upstream typo: service_grou, service_groue.\n\nOwner: [Owner]",
        "height": 384,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -432
      ],
      "id": "b4978859-dc50-41b2-bed2-118ced29c437",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TRIGGER\nWeekday 06:45 \nto avoid datalake collisions.\nAdjust cron if schedule needs to change.",
        "height": 384,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        128
      ],
      "id": "3d1a52e2-6124-463b-937a-6d9d83724ed2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## STEP 1: KICK OFF EXPORT\nPOST to datalake API with query name \"YOUR_DATALAKE_QUERY_NAME\".\nReturns execution_id used for polling in next step.\nCredential: Asset Catalog Api Key",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "661f0b97-f78c-4206-9913-5e50a41e32bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## STEP 2: POLL UNTIL READY\nDatalake generates CSV asynchronously.\nLoop: wait → poll status → if \"Success\", proceed. Otherwise loop.\nOn error → falls through to Log Datalake Error branch.",
        "height": 368,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        144
      ],
      "id": "35a90a6b-f30a-4029-9253-7240ae06c7a1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## STEP 3: DOWNLOAD\nGET the pre-signed S3 URL returned by the poll step.\nResponse Format: File. Output field: data.\nFile is ~18MB, 88k+ rows.",
        "height": 368,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        16
      ],
      "id": "26a32725-125a-4882-8216-b6100d834e65",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## STEP 4: PARSE + DEDUP (NO FILTER)\nReads binary CSV via this.helpers.getBinaryDataBuffer(),\nrequired for files >5MB, direct Buffer.from() returns 6-byte stub.\n\n- No filtering: full catalog preserved\n- Dedupes on asset_id (skips blanks)\n- Fixes service_grou, service_groue\n\nOutput: one item per unique asset.",
        "height": 496,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        -112
      ],
      "id": "2f70b685-18f9-4bc8-b7ca-67c1e7a88980",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_TEAM_ID",
          "mode": "list",
          "cachedResultName": "AutomationPlatform"
        },
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "Your Channel Channel",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/REPLACE_WITH_YOUR_CHANNEL_URL"
        },
        "message": "= Asset Catalog Sync FAILED at {{ $now.toFormat('yyyy-MM-dd HH:mm') }}\nError: {{ $json.error.message || 'Unknown' }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1568,
        416
      ],
      "id": "52098733-45f0-4b9a-b45b-f022aac3578f",
      "name": "Notify Failure (Teams Channel)",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_TEAM_ID",
          "mode": "list",
          "cachedResultName": "AutomationPlatform"
        },
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "Your Channel Channel",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/REPLACE_WITH_YOUR_CHANNEL_URL"
        },
        "message": "=✅ Asset Catalog Sync complete at {{ $now.toFormat('yyyy-MM-dd HH:mm') }}\nRows upserted: {{ $json.data.length }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2160,
        224
      ],
      "id": "0b9fdb29-67af-4d75-99a0-f3d3501219bc",
      "name": "Notify Success (Teams Channel)",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2000,
        224
      ],
      "id": "a6c2b810-973e-467f-b9e3-779cb36a1974",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "HTTP Request to Datalake": {
      "main": [
        [
          {
            "node": "Wait 5s for export job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Download Link": {
      "main": [
        [
          {
            "node": "If report ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If report ready": {
      "main": [
        [
          {
            "node": "Download asset Report CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Datalake Error (Teams Channel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Catalog CSV": {
      "main": [
        [
          {
            "node": "CSV Stream + Filter + Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Stream + Filter + Dedup": {
      "main": [
        [
          {
            "node": "Insert All Rows to asset_catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger 06:30 weekdays": {
      "main": [
        [
          {
            "node": "HTTP Request to Datalake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s for export job": {
      "main": [
        [
          {
            "node": "HTTP Request Download Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert All Rows to asset_catalog": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Datalake Error (Teams Channel)": {
      "main": [
        [
          {
            "node": "Notify Failure (Teams Channel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Notify Success (Teams Channel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedPerExecution": 60
  }
}